/* MARK: Base Styles */
:root {
  font-size: 62.5%;
  accent-color: var(--chinese-black);

  --bg-overlay: hsla(180, 3%, 7%, 0.5);
  --chinese-black: hsl(180, 3%, 7%);
  --bright-gray: hsl(0, 0%, 93%);
  --cultured: hsl(0, 0%, 97%);
  --white: hsl(0, 0%, 100%);
  --carmine-pink: #ec4b4b;
  --sea-green: #21a056;
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--chinese-black);
}

button,
input {
  font: inherit;
  line-height: 1.7;
  padding: 0.2rem 1.2rem;
  border-radius: 0.4rem;
  background-color: transparent;
}

input {
  outline-color: var(--chinese-black);
}

button {
  border: none;
  outline-color: inherit;
  transition: filter 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

button:hover {
  cursor: pointer;
  filter: brightness(90%);
}

/* MARK: Utils */
.container {
  width: min(calc(100% - 4rem), 72rem);
  margin-inline: auto;
}

.text-bold {
  font-weight: 600;
}

/* MARK: Badge */
.badge {
  font-size: 1.3rem;
  color: var(--white);
  padding-inline: 0.4rem;
  padding-bottom: 0.2rem;
  border-radius: 0.2rem;
}

.badge--success {
  background-color: var(--sea-green);
}

.badge--danger {
  background-color: var(--carmine-pink);
}

/* MARK: Buttons */
.button--primary {
  background-color: var(--chinese-black);
  color: var(--white);
}

.button--outline {
  background-color: var(--white-2);
  box-shadow: inset 0 0 0 0.1rem var(--bright-gray);
  color: var(--chinese-black);
}

/* MARK: Header */
.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 3.2rem;
  background-color: var(--cultured);
  border-bottom: 0.1rem solid var(--bright-gray);
}

.logo {
  font-size: 2rem;
  font-weight: 600;
}

/* MARK: Library */
.library {
  padding-block: 6.4rem;
}

.library__title {
  font-size: 2rem;
  margin-bottom: 3.2rem;
}

.library__list {
  list-style: none;
}

.library__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  row-gap: 0.8rem;
  padding-block: 0.8rem;
}

.library__item:not(:last-child) {
  border-bottom: 0.1rem solid var(--bright-gray);
}

.library__info {
  max-width: 60ch;
}

.library__actions {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
}

.library__actions > * {
  width: max-content;
}

/* MARK: Dialog */
.dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border: 0.1rem solid var(--bright-gray);
  width: min(calc(100% - 4rem), 48rem);
  padding: 3.2rem;
}

.dialog::backdrop {
  background-color: var(--bg-overlay);
}

/* MARK: Form */
.form {
  display: grid;
  gap: 2rem;
}

.form__group {
  display: grid;
  row-gap: 0.4rem;
}

.form__group:nth-child(4) {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
}

.form__label {
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
}

.form__control {
  border: 0.1rem solid var(--bright-gray);
}

.form__actions {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
}

.form__actions > * {
  flex: 1;
}
